name: "Construção de artefato"

on:
  push:
    branches: [ "main", "aula3" ]
  workflow_dispatch:  

jobs:
  build: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build docker image
        run: docker build --target=production -t khaoxs/projeto_go:${{ github.sha }} .
